#to-top-btn {
  cursor: pointer;
  height: 60px;
  width: 60px;
  position: fixed;
  font-size: 50px;
  z-index: 10000;
  padding: 5px;
  transition: all 300ms ease-in-out;
}

#arrow {
  color: #50c878;
  font-size: 4rem;
}

@keyframes upBtn {
  0% {
    transform: (1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.85);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#to-top-btn:hover {
  animation: upBtn 2000ms infinite;
}
