.title-div {
  width: 100%;
}

.title-div span {
  display: inline;
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
  font-style: oblique;
  position: relative !important;
}
.title-div span::after {
  content: "";
  display: block;
  width: 100px;
  height: 7.5px;
  margin: 0 auto;
  margin-top: 5px;
  background: #50c878;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .title-div {
    margin-top: 1rem;
  }
  .title-div span {
    font-size: 2rem;
  }
}
