.paper {
  position: absolute;
  width: 500px;
  background-color: white;
  box-shadow: -10px 10px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);

  height: auto;
  max-height: 90%;
  overflow: auto;
}
.title {
  text-align: center;
  margin: 1rem auto !important;
}
.tableRow {
  display: flex;
  flex-direction: column;
}
.checkboxRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.formDiv {
  padding: 40px;
}

@media only screen and (max-width: 800px) {
  .paper {
    width: 90%;
  }
}

.warning {
  color: #ae0f0f;
}
